/* start globle feature */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--main-background-color);
}

h1,
h2,
.card-content h3,
.heading {
    font-family: "Days One", sans-serif;
}

::selection {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

:root {
    --main-background-color: #0B0E13;
    --main-color: #CBFE1C;
    --sub-color: #F1F1F1;
    --border-color: #1E2939;
    --second-border: #364153;
    --gray-color: #8B92A0;
    --second-gray: #D1D5DC;
    --dark-gray: #99a1af;
    --card-color: #1A1A1A;
    --card-border: #18212E;
    --dark-color: #1e2939;
    --sub-background: #0E131D;
}

.btn-main-color {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn-sub-color {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background-color: transparent;
    transition: 0.3s;
}

.btn-sub-color:hover {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.btn-shine {
    position: relative;
    overflow: hidden;
}

.btn-shine:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0000, #fff6, #0000);
    transition: left 0.6s;
    top: 0;
    position: absolute;
    left: -100%;
}

.btn-shine:hover::before {
    left: 100%;
}

.btn-shine:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: 0.3s;
}

.btn-shine:hover::after {
    background: rgba(0, 0, 0, 0.15);
}

/* end globle feature */


/* start Navbar */

header {
    background-color: var(--main-background-color);
    border-bottom: 2px solid var(--border-color);
}

.logo-container i {
    color: var(--main-color);
}

#header .nav-bar-btn {
    box-shadow: none;
}

.bars-icon {
    color: var(--sub-color);
}

#header .navbar-nav .nav-link.active,
#header .navbar-nav .nav-link.show {
    color: var(--main-color);
}

#header .nav-color {
    color: var(--sub-color);
    transition: 0.3s;
}

#header .nav-color:hover {
    color: var(--main-color);
}


#header .brand-name {
    color: var(--main-color);
}

.sign-in-container .notification,
.sign-in-container .message {
    color: var(--sub-color);
    transition: 0.3s;
}

.sign-in-container .notification:hover,
.sign-in-container .message:hover {
    color: var(--main-color);
}

@media (max-width: 991.5px) {
    .sign-in-container {
        margin-top: 20px;
        border-top: 1px solid var(--border-color);
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .header-links {
        border-top: 1px solid var(--border-color);
    }

    .header-nav-container {
        width: 100%;
    }

    .sign-in-container .display-none {
        display: inline !important;
    }

    .sign-in-container .notification,
    .sign-in-container .message {
        margin-bottom: 12px;
    }

    .nav-bar-list li {
        margin-bottom: 16px;
    }

    .sign-in-btn {
        width: 100%;
    }

    .brand-name {
        font-size: 20px;
    }
}

/* end Navbar */


/* start hero section */

.hero {
    padding-top: 120px;
    padding-bottom: 64px;
    background-image: linear-gradient(#000000e0, #000000e0), url("../images/hero-bg.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.trophy-container {
    background-color: var(--main-background-color);
    border: 1px solid var(--second-border);
}

.trophy i {
    color: var(--main-color);
}

.image-container img {
    border: 4px solid var(--main-color);
}

.hero-text h1 {
    color: var(--sub-color);
}

.hero-text h1 span {
    color: var(--main-color);
}

.hero-text p {
    color: var(--second-gray);
    line-height: 1.8;
}

.active-players {
    font-size: 12px;
    color: var(--gray-color);
}

.active-players-number {
    color: var(--sub-color);
}

.trophy-container {
    bottom: -6%;
    left: -0.1%;
}

.gradiant1 {
    width: 70px;
    height: 3px;
    background: #CBFE1C;
    background: linear-gradient(90deg, #00000080 0%, #cbfe1c 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gradiant2 {
    width: 70px;
    height: 3px;
    background: #CBFE1C;
    background: linear-gradient(90deg, #cbfe1c 0%, #00000080 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.our-games-text {
    font-family: "Chakra Petch", sans-serif;
    color: var(--main-color);
    letter-spacing: 2px;
}

/* end hero section */


/* start our games */

.our-games {
    padding: 96px 0px;
    background-color: var(--main-background-color);
}

.carousel-container img {
    max-height: 18em;
}

.carousel-container {
    overflow: hidden;
}

.heading-2 {
    font-size: 48px;
    color: var(--sub-color);
}

.transition-bottom {
    width: calc(100% - 16px);
    margin: auto;
}

.game-type-container {
    top: -30%;
    left: 6%;
    font-size: 12px;
    color: var(--sub-color);
    transition: 0.5s;
}

.game-type-container span {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.8);
}

.game-type-container span i {
    color: var(--main-color);
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: 0.5s;
}

.img-wrapper {
    border: 2px solid transparent;
    transition: 0.5s;
}

.carousel-container:hover .img-wrapper {
    border-color: var(--main-color);
}

.carousel-container:hover img {
    transform: scale(1.1);
}

.transition-bottom {
    background: #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(203, 254, 28, 1) 100%);
    opacity: 0;
    transition: 0.5s;
}

.carousel-container:hover .transition-bottom {
    opacity: 1;
}

.game-name {
    color: var(--main-background-color);
    bottom: -30%;
    transition: 0.5s;
}

.carousel-container:hover .game-name {
    bottom: 0;
}

.carousel-container:hover .game-type-container {
    top: 4%;
    z-index: 0;
}

.game-name,
.game-type-container,
.img-wrapper {
    cursor: pointer;
}

.game-name,
.game-type-container,
.transition-bottom {
    pointer-events: none;
}

.action-btn button {
    width: 50px;
    height: 50px;
    color: var(--dark-gray);
    border: 2px solid var(--second-border);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.action-btn button:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

/* end our games */


/* start what we do */

.what-we-do {
    padding: 96px 0px 48px;
    position: relative;
}

.what-we-do:after {
    content: "";
    position: absolute;
    width: 80%;
    max-width: 600px;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color) 20%, var(--main-color) 80%, transparent);
    box-shadow: 0 0 10px var(--main-color), 0 0 20px #cbfe1c4d;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.we-build span {
    color: var(--main-color);
}

.what-we-card {
    background-color: var(--card-color);
    border: 2px solid var(--card-border);
    transition: 0.2s;
}

.card-content h3 {
    font-family: "Days One", sans-serif;
    color: var(--sub-color);
}

.card-icon {
    width: 64px;
    height: 64px;
    background-color: var(--dark-color);
    color: var(--main-color);
    border-radius: 0.5rem;
    transition: 0.2s;

}

.top-icon {
    top: -10%;
    left: -10%;
    border-top: 24px solid #CBFE1C;
    border-right: 24px solid transparent;
    transition: 0.2s;
}

.bottom-icon {
    bottom: -10%;
    right: -10%;
    border-bottom: 24px solid #CBFE1C;
    border-left: 24px solid transparent;
    transition: 0.2s;
}

.what-we-card:hover .top-icon {
    top: 6%;
    left: 6%;
}

.what-we-card:hover .bottom-icon {
    bottom: 6%;
    right: 6%;
}

.what-we-card:hover .card-icon {
    background-color: var(--main-color);
    color: var(--dark-color);
}

.what-we-card:hover {
    border-color: var(--main-color);
}

/* end what we do */


/* start sponsors */

.sponsors {
    padding-block: 80px;
}

.logos-track {
    display: flex;
    width: max-content;
    gap: 20px;
}

.logos-track img {
    max-width: 96px;
    min-width: 80px;
    border-radius: 16px;
}

.left {
    animation: moveLeft 30s linear infinite;
}


.right {
    animation: moveRight 30s linear infinite;
}

@keyframes moveLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.bg-sponsors {
    background: var(--main-color);
    background: linear-gradient(0deg, var(--main-background-color), var(--main-color) 50%, var(--main-background-color));
    filter: blur(10px);
    box-shadow: 0 0 20px 20px var(--main-background-color) inset;
    opacity: 0.8;
}

.sponsors::before,
.sponsors::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 3;
}

.sponsors::before {
    left: 0;
    background: linear-gradient(to right, #0B0E13, transparent);
}

.sponsors::after {
    right: 0;
    background: linear-gradient(to left, #0B0E13, transparent);
}

/* end sponsors */


/* start our-team */

.our-team {
    padding-block: 96px;
}

.team-text {
    color: var(--dark-gray);
}

.left-side h3 {
    font-family: "Days One", sans-serif;
    color: #FFF;
}

.left-side .top-p {
    font-size: 14px;
    color: var(--main-color);
}

.left-side .bottom-p {
    font-size: 12px;
    color: var(--dark-gray);
}

.right-side {
    color: var(--main-color);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.card-componant::before {
    content: "";
    position: absolute;
    backdrop-filter: grayscale(100%);
    z-index: 1;
    width: 102%;
    height: 100%;
    transition: 1s cubic-bezier(.4, 0, .2, 1);
}

.card-componant:hover::before {
    transform: translateY(-100%);
}

/* end our-team */


/* start contact us */

.contact-us {
    padding-block: 96px;
    background-color: var(--sub-background);
}

.contact-information-card,
.form-container {
    background-color: var(--border-color);
}

.contact-us-icon {
    width: 64px;
    height: 64px;
    background-color: var(--main-color);
    color: var(--main-background-color);
}

.heading-three {
    color: var(--sub-color);
    font-size: 20px;
}

.contact-link-card {
    background: #05DF72;
    background: linear-gradient(270deg, rgba(5, 223, 114, 1) 0%, rgba(203, 254, 28, 1) 100%);
    color: var(--main-background-color);
}

.join-community {
    font-size: 24px;
}

.contact-p {
    color: var(--dark-gray);
}

.link-icon i {
    color: var(--main-color);
}

.link-icon {
    width: 48px;
    height: 48px;
    background-color: var(--main-background-color);
    cursor: pointer;
    transition: 0.3s;
}

.link-icon:hover {
    background-color: #273B1F;
}

.send-us {
    color: var(--sub-color);
    font-size: 24px;
}

.form-card label {
    color: var(--sub-color);
    font-size: 14px;
}

.form-card input,
.form-card select,
.form-card textarea {
    background-color: var(--second-border);
    color: #9399A2;
    font-size: 14px;
    outline: none;
    border: 1px solid #4a5565;
    padding: 12px 16px;
}

.form-card textarea {
    resize: none;
    min-height: 120px;
    max-height: 138px;
}

.form-card input:focus,
.form-card select:focus,
.form-card textarea:focus {
    border: 2px solid var(--main-color);
}

.checkbox-input {
    width: 20px;
    height: 20px;
    border: 5px solid var(--border-color);
}

.checkbox-input:checked {
    border: 5px solid var(--main-color);
}

.subscribe label {
    color: var(--dark-gray);
}

.support-available::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #364153;
    top: 0;
}

.support div {
    color: var(--main-color);
}

.support p {
    font-size: 14px;
    color: var(--dark-gray);
}

/* end contact us */


/* start footer */

footer {
    padding-block: 64px;
}

.game-arena-footer,
.footer-links i {
    color: var(--dark-gray);
    transition: 0.3s;
}

.footer-links i:hover {
    color: var(--main-color);
}

.footer-logo-container {
    color: var(--main-color);
}

.footer-logo-name {
    font-size: 24px;
}

.games ul {
    list-style-type: none;
}

.games ul a {
    text-decoration: none;
    color: var(--dark-gray);
    transition: 0.3s;
}

.games ul a:hover {
    color: var(--main-color);
}

.games h3 {
    color: var(--sub-color);
}

.end-footer {
    color: var(--dark-gray);
}

.end-footer a {
    color: var(--dark-gray);
    text-decoration: none;
    transition: 0.3s;
}
.end-footer a:hover {
    color: var(--main-color);
}
.end-footer::before {
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--second-border);
}

/* end footer */


/* media */

/* xs */
@media screen and (max-width:576px) {
    .image-container {
        height: 224px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .trophy i {
        font-size: 15px;
    }

    .trophy-container {
        padding: 12px;
    }

    .active-players {
        font-size: 10px;
    }

    .active-players-number {
        font-size: 12px;
    }

    .hero-btn,
    .our-games-btn-container {
        flex-direction: column;
        gap: 16px;
    }

    .hero-btn button {
        padding: 10px 20px !important;
        font-size: 12px;
    }

    .start-gaming-now-btn,
    .watch-tournaments-btn {
        width: 100%;
    }

    .logo-container {
        flex-wrap: wrap;
    }

    .heading-2 {
        font-size: 28px;
    }

    .action-btn button .action-icon {
        font-size: 16px;
    }

    .action-btn button {
        width: 35px;
        height: 35px;
    }

    .view-all-games-btn {
        width: 100%;
    }

    .card-icon,
    .contact-us-icon {
        width: 48px;
        height: 48px;
    }

    .contact-us-icon i,
    .card-icon i {
        font-size: 14px;
    }

    .what-we-card,
    .what-we-image,
    .our-team-card {
        height: 210px;
    }

    .heading-three {
        font-size: 18px;
    }

    .contact-p,
    .join-community-p {
        font-size: 14px;
    }

    .join-community {
        font-size: 20px;
    }

    .link-icon {
        width: 40px;
        height: 40px;
    }

    .link-icon i {
        font-size: 12px;
    }

    .send-us {
        font-size: 20px;
    }
}

/* sm */
@media screen and (min-width:576px) {
    .image-container {
        height: 300px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .trophy i {
        font-size: 18px;
    }

    .heading-2 {
        font-size: 28px;
    }

    .card-content h3 {
        font-size: 20px !important;
    }

    .what-we-card,
    .what-we-image,
    .our-team-card {
        height: 250px;
    }
}

/* md */
@media screen and (min-width:768px) {
    .image-container {
        height: 384px;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .heading-2 {
        font-size: 32px;
    }

    .what-we-card,
    .what-we-image,
    .our-team-card {
        height: 340px;
    }
}

/* lg */
@media screen and (min-width:992px) {
    .hero-text h1 {
        font-size: 60px;
    }

    .heading-2 {
        font-size: 48px;
    }

    .what-we-card,
    .what-we-image {
        height: 100%;
    }

    .bg-sponsors {
        width: 80% !important;
    }
}